h2 {
    color: green;
}
body {
 text-align: left;

 }
 div{
	  margin-right: 70%;
 }
 .output{
	 color: blue;
	 font-size: 20px;
	  text-align: center;
 }
 img {
    width:500px;
    margin-left:80%;
}
	